<nav class="navbar">
    <div class="navbar-container">
      <!-- Imagen a la izquierda -->
      <a href="/" class="navbar-brand">
        <img src="Logosimbolo-SENA-PRINCIPAL.png" alt="Logo" class="navbar-logo" />
      </a>
      
      <!-- Botones a la derecha -->
      <ul class="navbar-links">
        <button routerLink="/Vigilantes"class="boton-navbar"><a >Vigilantes</a></button>
        <button routerLink="/Registro" class="boton-navbar"><a >Registro</a></button>
        <button routerLink="/Entrada" class="boton-navbar"><a >Entrada</a></button>
        <button routerLink="/Salida" class="boton-navbar"><a >Salida</a></button>
      </ul>
    </div>
  </nav>
  

