<form class="form" [formGroup]="salidaform" (ngSubmit)="onSubmit()">
    <h1>Salida</h1>
    <div class="input-field">
        <label for="cedulaVigilante">Cédula Vigilante</label>
        <input formControlName="cedulaVigilante" type="text" id="cedulaVigilante" placeholder="Cédula Vigilante">
        <label for="numeroIdentificacion">Número de Identificación</label>
        <input (input)="onInput($event)" formControlName="numeroIdentificacion" type="text" id="numeroIdentificacion" placeholder="Número de Identificación">
    </div>
    <div class="input-field">
        <label for="serial">Serial</label>
        <input formControlName="serial" type="text" id="serial" placeholder="Serial">
    </div>
    <div class="input-field">
        <label for="marca">Marca</label>
        <input formControlName="marca" type="text" id="marca" placeholder="Marca">
        <label for="color">Color</label>
        <input formControlName="color" type="text" id="color" placeholder="Color">
    </div>
    <div class="input-field">
        <label>Cargador</label>
        <select formControlName="cargador" id="cargador">
            <option value="1">Sí</option>
            <option value="0">No</option>
        </select>
        <label>Mouse</label>
        <select formControlName="mouse" id="mouse">
            <option value="1">Sí</option>
            <option value="0">No</option>
        </select>
    </div>
    <div class="abajo-btn">
        <button type="submit" class="btn success">&#10004;</button>
        <button type="reset" class="btn cancel">&#10006;</button>
    </div>
</form>