<!-- Único formulario que abarca todos los campos -->
<form class="cen-form" [formGroup]="registroForm" (ngSubmit)="onSubmit()">

  <!-- Primera columna -->
  <div class="caja1">
    <div class="ctrl-label-input">
      <label>Número de Identificación</label>
      <input formControlName="numeroIdentificacion" required pattern="^[0-9]+$" title="Solo números permitidos" type="text">
    </div>
    <div class="ctrl-label-input">
      <label>Nombre Completo</label>
      <input formControlName="nombreCompleto" type="text">
    </div>
    <div class="ctrl-label-input">
      <label for="tipoUsuarios">Tipo de Usuario</label>
      <select formControlName="tipoUsuarios" id="tipoUsuarios">
        <option value="aprendiz">Aprendiz</option>
        <option value="instructor">Instructor</option>
        <option value="visitante">Visitante</option>
      </select>
    </div>
    
    <div class="ctrl-label-input">
      <label>Marca</label>
      <input formControlName="marca" type="text">
    </div>
  </div>

  <div class="caja2">
    <strong>
      <h2>Registro de Usuarios y Computadores</h2>
    </strong>
  </div>
  <!-- Botón de envío -->
  <div class="caja4">
    <button type="submit" >Guardar</button>
  </div>
  <!-- Segunda columna -->
  <div class="caja3">
    <div class="ctrl-label-input">
      <label>Serial</label>
      <input formControlName="serial" type="text">
    </div>
    <div class="ctrl-label-input">
      <label>Color</label>
      <input formControlName="color" type="text">
    </div>
    <div class="ctrl-label-input">
      <label>Cargador</label>
      <select formControlName="cargador" id="cargador">
        <option value="1">Sí</option>
        <option value="0">No</option>
      </select>
    </div>
    <div class="ctrl-label-input">
      <label>Mouse</label>
      <select formControlName="mouse" id="mouse">
        <option value="1">Sí</option>
        <option value="0">No</option>
      </select>
    </div>
  </div>

</form>